@import "generales";

/*----------HEADER-----------------------------*/
@import "header";

/*----------INDEX-----------------------------*/
@import "index";

/*----------SUCURSALES-----------------------------*/
@media (max-width:767px) {  /*TAMAÑO SMARTPHONE*/
    .mainSucursales {
        display: grid;
        justify-content: center;
        grid-row-gap: 50px;
    }
    
    .sucursales {
        display: grid;
        justify-content: center;
        text-align: center;
        grid-row-gap: 80px;
    }
    
    .sucursal {
        display: grid;
        grid-row-gap: 5px;
        justify-content: center;
    }
    
    .sucursal .linea {
        justify-self: center;
    }
    
    .mapaImagen {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .mapaImagen iframe, .mapaImagen img {
        height: 300px;
        width: 300px;
        justify-self: center;
    }

    .quejasSugerencias {
        display: grid;
        justify-content: center;
        grid-row-gap: 5px;
        padding-bottom: 30px;
    }
}

@media (min-width:768px) {  /*TAMAÑO TABLET*/
    .mainSucursales {
        display: grid;
        justify-content: center;
        grid-row-gap: 50px;
    }
    
    .sucursales {
        display: grid;
        justify-content: center;
        text-align: center;
        grid-row-gap: 80px;
    }
    
    .sucursal {
        display: grid;
        grid-row-gap: 5px;
        justify-content: center;
    }
    
    .sucursal .linea {
        justify-self: center;
    }
    
    .mapaImagen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }

    .mapaImagen iframe, .mapaImagen img {
        height: 300px;
        width: 300px;
    }

    .quejasSugerencias {
        display: grid;
        justify-content: center;
        grid-row-gap: 5px;
        padding-bottom: 30px;
    }
}

@media (min-width:1024px) { /*TAMAÑO DESKTOP*/
    .mainSucursales {
        padding-left: 30px;
        display: grid;
        justify-content: start;
        grid-row-gap: 70px;
    }

    .mainSucursales h2 {
        font-size: 40px;
    }

    .sucursales {
        display: grid;
        justify-content: start;
        grid-row-gap: 80px;
    }

    .sucursal {
        display: grid;
        justify-content: start;
        grid-row-gap: 5px;
        justify-items: start;
    }

    .sucursal .linea {
        justify-self: start;
    }

    .mapaImagen {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .mapaImagen iframe, .mapaImagen img {
        height: 400px;
        width: 400px;
    }

    .quejasSugerencias {
        display: grid;
        justify-content: start;
        grid-row-gap: 5px;
        padding-bottom: 30px;
    }
    
}

/*----------PROMOCIONES-----------------------------*/
@media (max-width:767px) {  /*TAMAÑO SMARTPHONE*/
    .mainPromociones {
        display: grid;
        grid-row-gap: 20px;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 20px;
    }

    .promo {
        display: grid;
    }

    .promo h2 {
        font-family: 'Anton', sans-serif;
    }
    
    .promo h2,.promo p {
        font-size: 16px;
    }

    .mainPromociones .precio {
        position: absolute;
        background-color: azure;
        border-radius: 50%;
        font-size: 10px;
        height: 50px;
        width: 50px;
        padding-top: 15px;
        justify-self: flex-end;
    }
}

@media (min-width:768px) {  /*TAMAÑO TABLET*/
    .mainPromociones {
        display: grid;
        grid-row-gap: 20px;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 20px;
    }

    .promo {
        display: grid;
    }

    .promo h2 {
        font-family: 'Anton', sans-serif;
    }
    
    .promo h2,.promo p {
        font-size: 16px;
    }

    .mainPromociones .precio {
        position: absolute;
        background-color: azure;
        border-radius: 50%;
        font-size: 10px;
        height: 50px;
        width: 50px;
        padding-top: 15px;
        justify-self: flex-end;
    }
}

@media (min-width:1024px) { /*TAMAÑO DESKTOP*/
    .mainPromociones {
        margin-bottom: 40px;
        margin-top: 10px;
    }
    
    .mainPromociones p {
        font-size: 30px;
        display: inline-block;
    }
    
    .mainPromociones .precio {
        position: absolute;
        background-color: azure;
        border-radius: 50%;
        height: 80px;
        width: 90px;
        margin-left: 50%;
        padding-top: 15px;
    }

    .promo h2 {
        font-family: 'Anton', sans-serif;
    }
}

/*----------PIZZAS-----------------------------*/
.mainPizzas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainPizzas .linea {
    width: 350px;
}

.mainPizzas .elemento {
    display:grid;
    grid-template-columns: 100px 400px;
    grid-gap: 10px;
    grid-template-rows: 120px;
}

.fotoPizza {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/*----------EMPANADAS-----------------------------*/

.mainEmpanadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainEmpanadas .linea {
    width: 350px;
}

.mainEmpanadas .elemento {
    display:grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: 120px;
    grid-gap: 10px;
}

.fotoEmpanada {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/*----------FOOTER-----------------------------*/
@import  "footer";
