@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(230, 15, 15);
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.linea {
    background-color: brown;
    height: 5px;
    width: 400px;
}

/*----------HEADER-----------------------------*/
@media (max-width:767px) { /*TAMAÑO SMARTPHONE*/
    .banner {
        position: absolute;
        width: 100%;
        height: 100px;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .logo img {
        height: 75px;
        width: 200px;
    }

    .menu {
        display: flex;
        justify-content: end;
        width: 100%;
    }
    
    li {
        display: inline-block;
        margin-right: 10px;
        position: relative;
    }
    
    a {
        text-decoration: none;
        color: black;
    
    }
    
    a:hover {
        color: white;
    }
}

@media (min-width:768px) { /*TAMAÑO TABLET*/
    header{
        height: 100px;
        margin-bottom: 80px;
    
    }
    
    .banner {
        position: absolute;
        width: 100%;
        height: 124px;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .logo img {
        height: 100px;
        width: 300px;
    }

    .menu {
        display: flex;
        justify-content: end;
        width: 100%;
    }
    
    li {
        display: inline-block;
        margin-right: 10px;
        position: relative;
    }
    
    a {
        text-decoration: none;
        color: black;
    
    }
    
    a:hover {
        color: white;
    }
}

@media (min-width:1024px) { /*TAMAÑO DESKTOP*/
    header{
        height: 100px;
        margin-bottom: 80px;
    
    }
    
    .banner {
        position: absolute;
        width: 100%;
        height: 124px;
    }
    
    .logo {
        width: 100%;
    }
    
    .menu {
        display: flex;
        justify-content: end;
        width: 100%;
    }
    
    li {
        display: inline-block;
        margin-right: 10px;
        position: relative;
    }
    
    a {
        text-decoration: none;
        color: black;
    
    }
    
    a:hover {
        color: white;
    }
}

/*----------INDEX-----------------------------*/
@media (max-width:767px) { /*TAMAÑO SMARTPHONE*/
    .mainIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 80px;
    }

    .texto {
        display: grid;
        height: 300px;
        width: 400px;
        justify-content: center;
        align-content: center;
        justify-self: center;
    }

    .mainIndex .texto p {
        font-size: 25px;
        text-align: center;
        color: rgb(196, 174, 174);
    }

    .mainIndex img{
        height: 300px;
        width: 300px;
        border: 10px inset rgb(10, 113, 29);
        justify-self: center;
    }

}

@media (min-width:768px) { /*TAMAÑO TABLET*/
    .mainIndex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 80px;
    }

    .texto {
        display: grid;
        height: 300px;
        width: 300px;
        justify-content: center;
        align-content: center;
        justify-self: center;
    }

    .mainIndex .texto p {
        font-size: 25px;
        text-align: center;
        color: rgb(196, 174, 174);
    }

    .mainIndex img{
        height: 300px;
        width: 300px;
        border: 10px inset rgb(10, 113, 29);
        justify-self: center;
    }
}

@media (min-width:1024px) { /*TAMAÑO DESKTOP*/
    .mainIndex {
        margin-top: 20px; 
        display: flex;
        justify-content: space-around;   
    }
    
    .texto {
        display: grid;
        height: 400px;
        width: 400px;
        justify-content: center;
        align-content: center;
    }
    
    .mainIndex .texto p {
        font-size: 30px;
        text-align: center;
        color: rgb(196, 174, 174);
    }
    
    .mainIndex img{
        height: 400px;
        width: 400px;
        border: 10px inset rgb(10, 113, 29);
        
    }
}

/*----------SUCURSALES-----------------------------*/
@media (max-width:767px) {  /*TAMAÑO SMARTPHONE*/
    .mainSucursales {
        display: grid;
        justify-content: center;
        grid-row-gap: 50px;
    }
    
    .sucursales {
        display: grid;
        justify-content: center;
        text-align: center;
        grid-row-gap: 80px;
    }
    
    .sucursal {
        display: grid;
        grid-row-gap: 5px;
        justify-content: center;
    }
    
    .sucursal .linea {
        justify-self: center;
    }
    
    .mapaImagen {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .mapaImagen iframe, .mapaImagen img {
        height: 300px;
        width: 300px;
        justify-self: center;
    }

    .quejasSugerencias {
        display: grid;
        justify-content: center;
        grid-row-gap: 5px;
        padding-bottom: 30px;
    }
}

@media (min-width:768px) {  /*TAMAÑO TABLET*/
    .mainSucursales {
        display: grid;
        justify-content: center;
        grid-row-gap: 50px;
    }
    
    .sucursales {
        display: grid;
        justify-content: center;
        text-align: center;
        grid-row-gap: 80px;
    }
    
    .sucursal {
        display: grid;
        grid-row-gap: 5px;
        justify-content: center;
    }
    
    .sucursal .linea {
        justify-self: center;
    }
    
    .mapaImagen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }

    .mapaImagen iframe, .mapaImagen img {
        height: 300px;
        width: 300px;
    }

    .quejasSugerencias {
        display: grid;
        justify-content: center;
        grid-row-gap: 5px;
        padding-bottom: 30px;
    }
}

@media (min-width:1024px) { /*TAMAÑO DESKTOP*/
    .mainSucursales {
        padding-left: 30px;
        display: grid;
        justify-content: start;
        grid-row-gap: 70px;
    }

    .mainSucursales h2 {
        font-size: 40px;
    }

    .sucursales {
        display: grid;
        justify-content: start;
        grid-row-gap: 80px;
    }

    .sucursal {
        display: grid;
        justify-content: start;
        grid-row-gap: 5px;
        justify-items: start;
    }

    .sucursal .linea {
        justify-self: start;
    }

    .mapaImagen {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .mapaImagen iframe, .mapaImagen img {
        height: 400px;
        width: 400px;
    }

    .quejasSugerencias {
        display: grid;
        justify-content: start;
        grid-row-gap: 5px;
        padding-bottom: 30px;
    }
    
}

/*----------PROMOCIONES-----------------------------*/

.mainPromociones {
    margin-bottom: 40px;
    margin-top: 10px;
}

.mainPromociones p {
    font-size: 30px;
    display: inline-block;
}

.mainPromociones .precio {
    position: absolute;
    background-color: azure;
    border-radius: 50%;
    height: 80px;
    width: 90px;
    margin-left: 50%;
    padding-top: 30px;
}

/*----------PIZZAS-----------------------------*/
.mainPizzas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainPizzas .linea {
    width: 350px;
}

.mainPizzas .elemento {
    display:grid;
    grid-template-columns: 100px 400px;
    grid-gap: 10px;
    grid-template-rows: 120px;
}

.fotoPizza {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/*----------EMPANADAS-----------------------------*/

.mainEmpanadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainEmpanadas .linea {
    width: 350px;
}

.mainEmpanadas .elemento {
    display:grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: 120px;
    grid-gap: 10px;
}

.fotoEmpanada {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/*----------FOOTER-----------------------------*/

footer {
    background-color: darkgreen;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: 1fr 1fr 1fr;
}


footer div a {
    margin-right: 10px;
}